.body{
	background-color: #393f4d;
}

.display{
	
	font-family: 'Playfair Display';
	color: #feda6a;
	font-size: 110px;
}

.display1{
	
	font-family: 'Playfair Display';
	color: #393f4d;
	font-size: 50px;
}

.container1{
	background-color: #feda6a;
	left: 30px;
}

.column_home {
    float: left;
    width: 50%;
    }