.body, .myclass {
	background-color: #222222;
	text-align: center;
	color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  text-align: center;
}

.next ,a:link, a:visited {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.next {
	border-radius: 5px;
	width: 180px;
}

.footerLink {
	width: 500px;
}

.layoutName {
	width: 300px;
}
h1{
	font-size: 25px; 
	color: #4CAF50;
}

h2{
	color: #4CAF50;
}

h3{
	font-size: 25px; 
	color: #4CAF50;
	position: absolute;
  	top: 370px;
  	left: 680px;
}

h4{
	font-size: 20px; 
	color: #4CAF50;
}

h5{
	font-size: 15px; 
	color: #80c883;
	font-style: italic;
}

.card {
    background: #4CAF50;
    border: 0 none;
    border-radius: 5px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 3% 20px 3%;
    position: relative
}

.end {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 97px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.success {
	font-size: 18px; 
	color: black;
	font-style: italic;
	}
